body {
    font-family: sans-serif!important;
    background-color: rgb(0, 0, 0)!important;
    color: rgb(255, 255, 255)!important;
    padding: 0px!important;
    margin: 0px!important;
}

*,
*:hover {
    outline: none!important;
}

.header {
    position: relative;
}

h1.headerText {
    text-align: center;
    width: calc(100% - 40px);
    padding: 10px 20px;
    color: rgb(142, 202, 230);
    font-size: 24px;
    font-weight: bold;
}

h1.headerText span {
    color: rgb(255, 183, 3);
}

div.main {
    padding: 20px;
}

.box {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    flex-basis: 100%;
    margin: 20px 0px 0px;
    height: 100%;
}

.box a {
    text-decoration: none;
}

.box .img-container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    min-height: 400px;
    width: 100%;
    margin: 0px 0px 20px;
}

.box .title {
    margin: 0px 0px 20px;
    text-align: center;
    color: rgb(255, 183, 3);
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.box .description {
    margin: 0px 0px 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.box .overview {
    margin: 0px 0px 20px;
    line-height: 18px;
    color: rgb(0, 0, 0);
}

.box .label {
    color: rgb(0, 0, 0);
}

a:hover,
.box .description:hover,
.box .overview:hover {
    color: currentColor!important;
    text-decoration: none!important;
}

.box .label em,
.box .label em:hover {
    color: rgb(255, 183, 3);
    font-style: normal;
    text-decoration: none!important;
}